@import 'app';
@import 'settings/settings-frontpage';
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.jumbo {
	background: url(/imgs/chat-app-bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px 0;
    margin-bottom: 30px;
    

    h1 {
    	color: #fff;
    	text-align: cener;
    	margin-bottom: 15px;
    }


    section {
    	padding-bottom: 150px;
    }
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.top-bar-container {
    .sticky {
        width: 100%;
    
        .top-bar {
            background-color: $oil;


            .name {
                color: $aluminum;
                font-size: 1.5em;
            }

            .top-bar-right .menu.align-right > li {
                a {
                    color: $vapor;
                }
                a:hover {
                    text-decoration: underline;
                }
            }

            .menu-toggle {
                color: $aluminum;
            }
        }
    }
}


.footer {
    background-color: $oil;
    height: 5vh;
    .contact {
        color: $aluminum;
        margin-top: 1vh;
    }
}