doctype html
html
	head
		title Eska chat!
		link(rel="stylesheet", href="css/app.css")
	body
		.chat-window
			.row.collapse.fullWidth.header
				.column.medium-2
					h5 Online people
				.column.medium-8
					h5 Eska chat!
				.column.medium-2
					h5 Settings		

			.row.collapse.fullWidth
				.column.medium-2.online-people
					ul
						li
							img(src="http://placehold.it/40x40", alt="")
							span Lol
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Eskil
						li
							img(src="http://placehold.it/40x40", alt="")
							span Imba
						
				.column.medium-8.chat
					.chat-feed dsadadddsfsfffsfssfsfsfsfsfsfsfsdfsfsfgsfdfsfsfsfgfgdfgdgdgdgdgdgdfggdgdgdgdf
					.chat-send-message
						input#message(type="text", name="" placeholder="Type a message...").input
				.column.medium-2.chat-settings dsdsdsd









		script(src="js/vendor.js")
		script(src="js/app.js")
		script(src="js/reactapp.js")
